<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" backupGlobals="false" backupStaticAttributes="false" colors="true" verbose="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
	<coverage>
		<include>
			<directory suffix=".php">src/</directory>
		</include>
		<report>
			<text outputFile="php://stdout" showUncoveredFiles="false"/>
		</report>
	</coverage>
	<testsuites>
		<testsuite name="Unit">
			<directory suffix="Test.php">tests/Unit</directory>
		</testsuite>
	</testsuites>
	<php>
		<!-- Ray App configuration -->
		<env name="RAY_ENABLED" value="true"/>
		<env name="SEND_CACHE_TO_RAY" value="false"/>
		<env name="SEND_DUMPS_TO_RAY" value="true"/>
		<env name="SEND_JOBS_TO_RAY" value="false"/>
		<env name="SEND_LOG_CALLS_TO_RAY" value="true"/>
		<env name="SEND_QUERIES_TO_RAY" value="false"/>
		<env name="SEND_REQUESTS_TO_RAY" value="false"/>
		<env name="SEND_VIEWS_TO_RAY" value="false"/>
		<env name="SEND_EXCEPTIONS_TO_RAY" value="true"/>
	</php>
	<logging/>
</phpunit>
